{% extends "browser/base.html" %}
{% load static %}
{% load browser_extras %}
{% block content %}


<div class="container">

  <div class="page-header">
    <h1>Global statistics</h1>
  </div>


  <h2>{{gtin_total_count.GTIN_CD__count}} Gtin in the database</h2>
  <table>
    <tr>
      <td width="30px"></td>
      <td width="50px"></td>
      <td></td>
    </tr>
  {% for gtin in gtin_count %}
  <tr>
    <td>
    <img align="center" src="{% with 'browser/img/flag_16/'|add:gtin.GCP_CD__GLN_COUNTRY_ISO_CD|add:'.png' as image_static %}{% static image_static %}{% endwith %}" >
    </td><td>
    {{gtin.GCP_CD__GLN_COUNTRY_ISO_CD}}
    </td><td>
      {{gtin.dcount}}
    </td></tr>
  {% endfor %}
  </table>
</div>

{% endblock %}
