
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


/* Form Search
-------------------------------------------------- */

.form-search {
  max-width: 400px;
  padding: 0px;
  margin: 0;
  display:flex;
}

.form-search .form-control {
  position: inline;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 12px;

}

.form-search .form-control:focus {
  z-index: 2;
}

.form-control:focus {
  --border-color: #c70017;
}

.form-search input[type="text"] {
  margin-right: 10px;
}

.btn-primary {
  --background-color: #c70017;
}

.btn-primary:hover {
  --background: #c70017;
  --webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(199,0,23,0);
  --box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(199,0,23,0);
}

/*
-------------------------------------------------- */

h1 {

  --color:#cc2d32;
  --padding-left:40px;
  --background-image: url(/static/browser/img/egg1.png);
  --background-repeat: no-repeat;
  --background-position: 0px 0px;
}


.list-header {
  padding-top: 70px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #f5f5f5;
}

.list-header img {
  margin-top: 20px;
  margin-right: 40px;

}

.list-item {

}

.list-item h2 {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size:24px;
  padding-left:40px;
  background-image: url(/static/browser/img/egg1.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-bottom: 20px;
  height: 32px
}

.thumbnail-list {
  margin-right: 50px;
  margin-bottom: 20px;
  border:none;
  width:150px;
  height:150px;
}


.thumbnail-list-gtin {
  margin-right: 50px;
  margin-bottom: 20px;
  border:none;
  width:150px;
  height:150px;


}

/*
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
*/

.thumbnail-list-label {
  margin-right: 50px;
  margin-bottom: 20px;
  border:none;
  width:80px;
  height:80px;
}

.home-browse {
  margin-bottom: 20px;
  padding-top:30px;
  padding-bottom:30px;
  text-align: center;
  color: inherit;
  background-color: #f5f5f5;
}

.home-participate {
  margin-bottom: 20px;
  padding-bottom:30px;
  text-align: center;
}

.brand-pagination {
  margin-bottom: 20px;
}

.brand-pagination .btn {
  padding: 5px;
  margin-bottom: 5px;
}

.gtin-code {
  font-family:'Courier New', Courier, monospace;
}

#label {
  padding:0px;
  margin:	0px;
}

#label td {
  padding:0px;
  margin:	0px;
}

.border-label-1 {
  border-bottom: #666 solid 1px;
}

.border-label-2 {
  border-bottom: #666 solid 5px;
}

.border-label-3 {
  border-bottom: #666 solid 10px;
}

.label-nutrition {
  width: 400px;
}

.featurette-heading {
  margin-top:60px
}

.featurette .lead {
  margin-top:30px
}

.reader {
  width : 600px;
  text-align: justify;
}

.reader img {
  width : 600px;
}

.reader h2 {
  margin-top : 30px;
  margin-bottom : 30px;
}

.method-level-0 {
  background-color: #0e832a;
  color:white;
  padding:10px;
  margin-left:10px;
  margin-right:30px ;
}
.method-level-1 {
  background-color: #017ac3;
  color:white;
  padding:10px;
  margin-left:10px;
  margin-right:30px ;
}
.method-level-2 {
  background-color: #efb435;
  color:white;
  padding:10px;
  margin-left:10px;
  margin-right:30px ;
}
.method-level-3 {
  background-color: #ab2b3a;
  color:white;
  padding:10px;
  margin-left:10px;
  margin-right:30px ;
}
